.table {
  margin-top: 20px;
}

.img-thumbnail {
  border-radius: 5px; /* Bordes redondeados para las imágenes */
}
.thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

h2 {
  margin-bottom: 20px; /* Espacio debajo del título */
}

.btn {
  margin-top: 10px; /* Espacio encima de los botones */
}
.btn {
  margin-top: 10px; /* Espacio encima de los botones */
}

  